@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/tipography';

.card{
  width: 300px;
  margin: 20px auto; 
  &:hover{
    box-shadow: 10px 10px 25px -6px $semi-blue;
  }
}
.char__image{
  @include center; 
}

.char__info{
  width: 300px; 
  height: 110px; 
  background-color: $semi-blue; 
  padding: 10px; 
  @include char_text; 
} 
@media (min-width: 768px) {
  .char__info{
    height: 110px; 
    padding: 10px; 
    @include char_text; 
  } 
}