// colors
$bright-green:  rgb(48, 184, 77);
$light-blue: rgb(218, 232, 236);
$grey: #858282;
$light-blue: #04AEC7;
$semi-blue:rgba(8, 204, 235, 0.623);
$semi-black:rgba(0, 0, 0, 0.87);
$black: black;
$white: white; 


$header-color:  $bright-green;
$header-title-color: $light-blue;

$primary-font: 'Mansalva', cursive;