// colors
$bright-green:  rgb(67, 204, 32);
$semi-blue:rgba(8, 205, 235, 0.404);
$semi-white: rgba(255, 255, 255, 0.705);
$black: black;
$white: white; 

$info-text-color: $bright-green;

$primary-font: 'Mansalva', cursive;